<div class="about-container">
  <h1 class="about-title">ABOUT</h1>
  <div class="about-content">
    <div class="about-text">
      <p class="about-intro">Hi there!</p>
      <p class="about-description">
        I’m Celest, a Software Engineer passionate about creating impactful 
        solutions at the intersection of AI, machine learning, and software 
        development.
      </p>
      <p class="about-details">
        My experience spans data engineering, analytics, and software  
        development, enabling me to tackle complex challenges and deliver
        impactful results. With hands-on experience across diverse projects, I 
        focus on bridging the gap between technical execution and business 
        objectives. I have developed data-driven solutions, optimised processes,  
        and built scalable software systems to address a wide range of problems.
      </p>
      <p class="about-extra">
        Outside of work, you’ll likely find me either on the squash or tennis courts,  
        out on the golf course, or brainstorming my next project.
      </p>
      <p class="about-call-to-action">Let’s connect and chat!</p>
    </div>
    <div class="about-image">
      <img src="assets/images/profile.jpeg" alt="profile" />
    </div>  
  </div>
</div>