.work-experience-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
}

.work-title {
  color: #72efdd;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

.work-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 30px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding: 20px 50px 35px 35px;
  background: #112240;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.experience:hover {
  background: #11224099;
  transform: scale(1.02);
}

.experience-dates {
  font-size: 14px;
  font-weight: 400;
  color: #f2f2f2;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  width: auto;
  padding-right: 15px;
}

.experience-dates::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #f2f2f2;
  transition: width 0.3s ease;
  position: absolute;
  left: 0;
}

.experience:hover .experience-dates::after {
  width: 93%;
}

.experience-details {
  font-size: 14px;
  text-align: left;
  transition: color 0.3s ease;
}

.job-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.company-name {
  font-size: 14px;
  font-weight: 500;
  color: #f2f2f2;
  margin-bottom: 10px;
}

.job-description {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  font-size: 12px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #72efdd;
  border-radius: 15px;
  color: #72efdd;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (min-width: 768px) {
  .work-experience-container {
    padding: 40px;
    margin-top: 3rem;
  }

  .work-title {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    text-align: left;
    letter-spacing: 0.3rem;
    margin-left: 3.5rem;
  }

  .work-content {
    margin-top: 2rem;
    gap: 3rem;
  }

  .experience {
    flex-direction: row;
    padding: 30px;
    gap: 3rem;
    max-width: 700px;
  }

  .experience-dates {
    min-width: 150px;
    font-size: 16px;
    padding-right: 6rem;
  }

  .experience-details {
    font-size: 16px;
  }

  .job-title {
    font-size: 18px;
  }

  .company-name {
    font-size: 16px;
  }

  .job-description {
    font-size: 15px;
    line-height: 1.8;
  }

  .tags {
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .work-title {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    letter-spacing: 0.5rem;
    margin-left: 2rem;
  }

  .work-content {
    gap: 3rem;
    align-items: center;
  }

  .experience {
    flex-direction: row;
    padding: 30px;
    gap: 3rem;
    max-width: 900px;
  }

  .experience-dates {
    font-size: 18px;
    padding-right: 5rem;
  }

  .job-title {
    font-size: 20px;
  }

  .job-description {
    font-size: 16px;
  }

  .tags {
    gap: 1rem;
  }
}