<div class="connect-container">
    <h1 class="connect-title">Let’s Connect</h1>
    <p class="connect-description">
      I’m always up for a conversation about shared <br> 
      passions. Let’s connect and see where our <br> 
      interests take us!
    </p>
    <div class="connect-button">
      <a href="path/to/your/cv.pdf" download>
        <div class="cv-button">
          <img src="assets/images/file.png" alt="Document Icon" class="cv-icon" />
          Download CV
        </div>
      </a>
    </div>
    <div class="connect-icons">
      <a href="mailto:your-email@example.com" target="_blank">
        <img src="assets/images/gmail.png" alt="Gmail" class="social-icon" />
      </a>
      <a href="https://github.com/yourgithubprofile" target="_blank">
        <img src="assets/images/git-bw.webp" alt="GitHub" class="social-icon" />
      </a>
      <a href="https://www.linkedin.com/in/celestlee/" target="_blank">
        <img src="assets/images/linkedin.png" alt="LinkedIn" class="social-icon" />
      </a>
    </div>
    <footer class="connect-footer">
      <p>&copy; Celest 2024</p>
      <p>Designed with Figma, Built with Angular & <br>
        Deployed with Vercel 
      </p>
    </footer>
  </div>