/* Skills Section */
.skills-container {
  /* padding: 20px 40px; Add padding for left and right spacing */
  margin-left: 5rem;
  color: #ffffff;
  margin-bottom: 35rem; /* Adds space below the skills section */
}

.skills-title {
  color: #72efdd;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

/* Grid Layout */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 3rem ; /* Horizontal gap (smaller) and vertical gap (bigger) */
  justify-content: center;
  align-items: start;
  margin: 0 auto; /* Center the grid within the container */
  max-width: 1200px; /* Limit grid width to keep it centered */
  max-width: 320px;
  max-height: 300px;
}

/* Skills Card */
.skills-card {
  background-color: #112240;
  border-radius: 16px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Fixed width for all cards */
  height: 350px; /* Fixed height for all cards */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align content */
  justify-content: flex-start; /* Align items at the top */
}

/* Skills Header */
.skills-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  margin-bottom: 20px;
  /* margin-left: -1rem; */
}

/* Skills Icon */
.skills-icon img {
  width: 60px; /* Set consistent size */
  height: 60px;
  margin-right: 10px;
  object-fit: contain; /* Maintain aspect ratio */
}

/* Skills Category */
.skills-category {
  font-size: 19px;
  font-weight: 500;
  color: #f2f2f2;
  margin: 0;
}

/* Skills List */
.skills-list {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
  color: #ffffff;
}

.skills-list li {
  font-size: 14px;
  margin-bottom: 8px; /* Add spacing between items */
  line-height: 1.8; /* Improve readability */
}