<div class="skills-container">
  <h1 class="skills-title">SKILLS</h1>

  <!-- Grid Wrapper -->
  <div class="skills-grid">
    <!-- Card 1 -->
    <div class="skills-card">
      <div class="skills-header">
        <div class="skills-icon">
          <img src="assets/images/development.png" alt="Development Icon" />
        </div>
        <h3 class="skills-category">Development</h3>
      </div>
      <ul class="skills-list">
        <li>HTML, CSS, Javascript</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Spring Boot</li>
        <li>Hibernate</li>
        <li>Postman</li>
      </ul>
    </div>

    <!-- Card 2 -->
    <div class="skills-card">
      <div class="skills-header">
        <div class="skills-icon">
          <img src="assets/images/python.png" alt="Python Icon" />
        </div>
        <h3 class="skills-category">Python</h3>
      </div>
      <ul class="skills-list">
        <li>Pandas</li>
        <li>Scikit-Learn</li>
        <li>Matplotlib, Seaborn</li>
        <li>TensorFlow</li>
        <li>NLTK</li>
        <li>OpenCV</li>
        <li>Selenium, BeautifulSoup</li>
      </ul>
    </div>

    <!-- Card 3 -->
    <div class="skills-card">
      <div class="skills-header">
        <div class="skills-icon">
          <img src="assets/images/database.png" alt="Database Icon" />
        </div>
        <h3 class="skills-category">Database</h3>
      </div>
      <ul class="skills-list">
        <li>MSSQL</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
      </ul>
    </div>

    <!-- Card 4 -->
    <div class="skills-card">
      <div class="skills-header">
        <div class="skills-icon">
          <img src="assets/images/oracle.png" alt="Oracle Icon" />
        </div>
        <h3 class="skills-category">PeopleSoft Development</h3>
      </div>
      <ul class="skills-list">
        <li>PeopleTools</li>
        <li>PeopleCode</li>
        <li>Application Engine</li>
      </ul>
    </div>

    <!-- Card 5 -->
    <div class="skills-card">
      <div class="skills-header">
        <div class="skills-icon">
          <img src="assets/images/R.png" alt="R Icon" />
        </div>
        <h3 class="skills-category">R</h3>
      </div>
      <ul class="skills-list">
        <li>Dplyr</li>
        <li>Tidyr</li>
        <li>Ggplot2</li>
      </ul>
    </div>

    <!-- Card 6 -->
    <div class="skills-card">
      <div class="skills-header">
        <div class="skills-icon">
          <img src="assets/images/visualisation.png" alt="Visualization Icon" />
        </div>
        <h3 class="skills-category">Data Visualization</h3>
      </div>
      <ul class="skills-list">
        <li>PowerBI, Power Query, DAX</li>
        <li>Tableau</li>
      </ul>
    </div>
  </div>
</div>