
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 35px; 
    height: 38px;
    font-size: 24px; 
    color: #72efdd;
    border: 2px solid #72efdd; 
    border-radius: 50%; 
    background-color: transparent; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease, transform 0.3s ease;
  } 
  
  .scroll-to-top:hover {
    background-color: rgba(114, 239, 221, 0.1); 
    transform: scale(1.1); 
  }
  
  .scroll-to-top::before {
    content: "⌃";
    font-size: 24px; 
    line-height: 1; 
    display: block; 
    transform: translateY(3px); 
  }

  @media (max-width: 480px) {
    .hero-container {
      min-height: calc(100vh - 65px); /* Full screen minus navbar height */
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      margin-top: -50px;
    }

    .navbar .logo img {
      width: 111px !important;
      height: auto !important;
      margin-top: 10px !important;
      margin-left: 0px !important;
    }

}


  @media  (max-width: 768px) {
    .navbar .logo img {
      width: 120px; 
      margin-top: 15px;
      margin-right: 10px;
    }
  
    .hero-container {
      padding: 30px;
    }

    .hero-content {
      margin-bottom: 5rem;
    }
  
    .hero-content h1.typewriter {
      font-size: 3rem !important;
      width: 14ch;
    }
  
    .hero-content h2 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1.5rem;
      line-height: 1.5;
      max-width: 85%;
    }
  
    .scroll-down {
      bottom: 20px;
      width: 35px;
      height: 60px;
    }
  
    .scroll-capsule {
      width: 35px;
      height: 60px;
    }
  
    .scroll-dot {
      width: 8px;
      height: 8px;
      margin-top: 10px;
    }
  }
  
  @media (min-width: 768px){
    .navbar .logo img {
      width: 185px;
      margin-top: -1rem;
    }

    .scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 40px; 
      height: 40px;
    }

    .nav-links {
      margin-right: 5rem;
      margin-top: -2rem;
      gap: 3rem;
    }
  
    .hero-content h1.typewriter {
      font-size: 3.5rem;
      width: 16ch;
    }
  
    .hero-content h2 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1.5rem;
      line-height: 1.7;
      max-width: 70%;
    }
  
    .scroll-down {
      bottom: 25px;
      width: 40px;
      height: 70px;
    }
  
    .scroll-capsule {
      width: 40px;
      height: 70px;
    }
  
    .scroll-dot {
      width: 10px;
      height: 10px;
      margin-top: 12px;
    }
  }